/*
.header{
	height:131px;
	margin: 30 auto;
	position: relative;
	width: 800px;
}
.contentRegister {
	background-color: #ffffff;
	width: 696px;
	
	margin: 0 auto;
	border: 5px solid #e0e0e0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 10px;
	padding:0 47px 30px;
	position: relative;
	text-align: left;
}

.contentNotify {
	background-color: #FFFFFE;
    border: 5px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    height: 150px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 450px;
}

#inheader {
	height:50px;
}

#side-a {
	float: left;
	width: 312px;
}

#side-b {
	float: right;
	width: 353px;
}

#orseperator { 
	float: left;
	width: 31px;
	margin-top:35px;
}

#footer{
	clear: both;
	position: absolute; 
	right: 15px; 
	width: 100%; 
	bottom: 15px;
}

#loginTitle{
	font-size:14px;
	font-weight: bold;
	font-color: #333333;
}

label{
	font-size:12px;
	font-weight: bold;
	font-color: #333333;
	
}

input{
	height:25px;
	width:255px;
	padding: 4px;
	font-size:12px;
}

p{
	line-height:1.5em;
	padding-bottom:12px;;
	width:255px;
}

.formContainer{
	padding:40px 0;
}

div.cssSpriteSubmit {
	background-image: url(/sfGigyaPlugin/images/submit_button.jpg); 
	width: 64px;
	height: 28px;
	background-repeat: no-repeat;
	float: right;
    padding-right: 57px; 
}

div.cssSpriteSubmit:hover {
	background: url(/sfGigyaPlugin/images/submit_button.jpg) 0 -28px;
	background-repeat: no-repeat;
	float: right;
    padding-right: 57px;
    cursor:pointer;
}

div.cssSpriteRegister {
	background-image: url(/sfGigyaPlugin/images/register_button.jpg); 
	width: 74px;
	height: 28px;
	background-repeat: no-repeat;
	float: right;
    padding-right: 57px; 
}

div.cssSpriteRegister:hover {
	background: url(/sfGigyaPlugin/images/register_button.jpg) 0 -28px;
	background-repeat: no-repeat;
	float: right;
    padding-right: 57px;
    cursor:pointer;
}

div.cssSpriteLogin {
	background-image: url(/sfGigyaPlugin/images/login_button.jpg); 
	width: 64px;
	height: 28px;
	background-repeat: no-repeat;
	float: right;
    padding-right: 57px; 
}

div.cssSpriteLogin:hover {
	background: url(/sfGigyaPlugin/images/login_button.jpg) 0 -28px;
	background-repeat: no-repeat;
	float: right;
    padding-right: 57px;
    cursor:pointer;
}

div.cssSpriteLogout {
	background-image: url(/sfGigyaPlugin/images/logout_demo.jpg); 
	width: 82px;
	height: 28px;
	background-repeat: no-repeat;
	float: right;
	margin-top: 15px;
}

div.cssSpriteLogout:hover {
	background: url(/sfGigyaPlugin/images/logout_demo.jpg) 0 -28px;
	background-repeat: no-repeat;
	float: right;
	margin-top: 15px;
    cursor:pointer;
}

div.cssSpriteLink{
	background-image: url(/sfGigyaPlugin/images/link_accounts_button.jpg); 
	width: 111px;
	height: 28px;
	background-repeat: no-repeat;
	float: right;
	margin-top: 15px;
	padding-right: 40px; 
}

div.cssSpriteLink:hover {
	background: url(/sfGigyaPlugin/images/link_accounts_button.jpg) 0 -28px;
	background-repeat: no-repeat;
	float: right;
	margin-top: 15px;
    cursor:pointer;
    padding-right:40px; 
}

div.cssSpriteUpdate{
	background-image: url(/sfGigyaPlugin/images/update_details_button.jpg); 
	width: 107px;
	height: 28px;
	background-repeat: no-repeat;
	float: left;
	margin-top: 15px;
}

div.cssSpriteUpdate:hover {
	background: url(/sfGigyaPlugin/images/update_details_button.jpg) 0 -28px;
	background-repeat: no-repeat;
	float: left;
	margin-top: 15px;
    cursor:pointer;
}

div.cssSpriteForgot {
	background-image: url(/sfGigyaPlugin/images/submit_button.jpg); 
	width: 64px;
	height: 28px;
	background-repeat: no-repeat;
}

div.cssSpriteForgot:hover {
	background: url(/sfGigyaPlugin/images/submit_button.jpg) 0 -28px;
	background-repeat: no-repeat;
    cursor:pointer;
}

.linkback{
	font-size:12px;
	color: #007acf;
	float: right;
	bottom:0;
}

.error {
	background-color: #FEE9EA;
    border: 1px solid #E49D9F;
    color: #D67172;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    line-height: 15px;
    padding: 4px 10px 2px;
    text-align: center;
    display:none;
}

#loginPluginDiv{
	margin-left:53px;
	margin-top: 50px;
}

#userProfile{
	padding: 60px 3px;
	vertical-align:top;
}

#userMainDetails{
	padding-left:17px;
	padding-top:10px;
	float: left;
	overflow:hidden;
	vertical-align:top;
}

#userName{
	font-size:20px;
	font-weight: bold;
	color: #333333;
	
}

#userLocation{
	font-size:12px;
	color: #666666;
}

.userImage{
	float: left;
}

#userMoreDetails{
	width:600px;
	float: left;
	padding-top:20px;
}

#userMoreDetails label{
	font-size:12px;
	color: #666666;
}
#userMoreDetails span{
	font-size:12px;
	color: #333333;
	font-weight: bold;
}
#userMoreDetails p{
	height:15px;
}
#userWelcome{
	font-size:12px;
	color: #666666;
	font-weight: bold;
}

#inheaderlinkAccount{
	padding-top:50px;
	height:70px;
}

.linkNewText{
	padding-top:10px;
	font-size:12px;
	color: #666666;
}

.bSidelinkAccounts{
	padding-left:55px;
	width:295px !important;
}

input[type=checkbox] ,input[type=radio] {
	width:15px;
	vertical-align:bottom;
}
select {
	width:255px;
	height:25px;
}

.checkbox{
	width:255px;
	float:left;
}

.bSideProfile{
	width:205px !important;
	height:100px;
}

.forgotPassword{
	height:25px;
	line-height: 16px;
	color: #007ACF;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
}

.sfGigyaErrorForm { background: #fee9e4 !important; border: 1px solid #E49D9F !important}
*/
