@import "../font_fox/stylesheet.css";

html, body, div{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

a {text-decoration:none;}

img {border:none;}

#wrapper1{background-image:url(/sfGigyaPlugin/landingGamification/images/fox_lovers.jpg);
          background-position:-380px 0px;
		  background-color:#496a16;
		  background-repeat: no-repeat;
		  }
#wrapper2{background-color:#ffffff; width:100%;}
#wrapper3{background-color:#f9f8f7; width:100%; height:322px;}
#wrapper4{background:url(/sfGigyaPlugin/landingGamification/images/seghetto-basso.png) bottom center repeat-x #f8f8f8; width:100%; padding:40px 0px; margin:0px 0px 20px 0px;}
#wrapper4 .menu {display:block; margin:0px; padding:0px 20px; list-style:none;}
#wrapper4 .menu li {display:block; margin:0px 20px 0px 0px; min-width:164px; text-align:center; float:left;}
#wrapper4 .menu li.last {margin:0px;}
#wrapper4 .menu li a {display:block; padding:10px 0px; background-color:#526c0b; color:#FFF; font-family:'texgyreadventorbold_italic'; font-size:14px; border-radius:30px}
#wrapper4 .menu li a:hover {background:#2f3e07;}
#wrapper4 .menu li a.selected {background:#2f3e07	;}

#box1{
	width:940px; 
	height:430px; 
	margin:0 auto;
	position:relative;
	}
#box1 h2{
	width:500px;
	position:absolute;
	left:500px;
	bottom:180px;
	font-family:'texgyreadventorbold_italic';
	font-size:30px;
	line-height:24px;
	margin:0;
	font-weight:normal;
	text-shadow: -2px 2px 0px #688d30;
	text-align:left;
	}
	  
#box1 a.partecipaButton {
	display:block; 
	padding:10px 20px; 
	background-color:#ff6d05; 
	color:#FFF; 
	font-family:'texgyreadventorbold_italic'; 
	font-size:22px;
	-webkit-border-radius: 30px;
	border-radius:30px; 
	text-align:center; 
	position:absolute; 
	bottom:140px;
	-webkit-box-shadow:  -5px 5px 0px 0px #526c0b;
	box-shadow:  -5px 5px 0px 0px #526c0b;
	left:580px;
}
#box1 a.partecipaButton:hover {
	background-color:#222222; 
	-webkit-box-shadow:  none;
	box-shadow:  none;
}
#box1 a.accettaButton {
	display:block; 
	padding:10px 20px; 
	background-color:#ff6d05; 
	color:#FFF; 
	font-family:'texgyreadventorbold_italic'; 
	font-size:22px;
	-webkit-border-radius: 30px;
	border-radius:30px; 
	text-align:center; 
	position:absolute; 
	bottom:140px;
	-webkit-box-shadow:  -5px 5px 0px 0px #526c0b;
	box-shadow:  -5px 5px 0px 0px #526c0b;
	left:580px;
}
#box1 a.accettaButton:hover {
	background-color:#222222; 
	-webkit-box-shadow:  none;
	box-shadow:  none;
}
#box1 a.iniziaButton {
	display:block; 
	padding:10px 20px; 
	background-color:#ff6d05; 
	color:#FFF; 
	font-family:'texgyreadventorbold_italic'; 
	font-size:22px;
	-webkit-border-radius: 30px;
	border-radius:30px; 
	text-align:center; 
	position:absolute; 
	bottom:140px;
	-webkit-box-shadow:  -5px 5px 0px 0px #526c0b;
	box-shadow:  -5px 5px 0px 0px #526c0b;
	left:580px;
}
#box1 a.iniziaButton:hover {
	background-color:#222222; 
	-webkit-box-shadow:  none;
	box-shadow:  none;
}

#cheers{
	position:absolute;
	top:57px;
	right:-114px;
	width:110px;
	height:107px;
	z-index:10;
	}	
	   
#cuore{
	position:absolute;
	top:222px;
	left:940px;
	width:110px;
	height:107px;
	z-index:10;
	}	
   
#contents{
	width: 940px;
	height:1340px;
	/*background:url(/sfGigyaPlugin/landingGamification/images/centrale.jpg) top center no-repeat;  */
	margin:0 auto;
	position:relative;
	}
#ufo{
	position:absolute;
	top:-60px;
	left:-122px;
	width:146px;
	height:149px;
	z-index:10;
	}
	
#registrati{
	position:absolute;
	top:-28px;
	left:283px;
	width:394px;
	height:88px;	
	z-index:10;
	}	

#partecipa_sfida_amaci{
	position:absolute;
	top:14px;
	left:379px;
	width: 275px;	
	z-index:10;
	font-family: 'texgyreadventorbold_italic';
	font-size:17px;
	color:#666666;
	margin:0;
	}
	
	#social{
		position:absolute;
        top:14px;
	    right:0px;
		
		}
#amaci_fb{
	background-image:url(/sfGigyaPlugin/landingGamification/images/fb.jpg);
	background-repeat:no-repeat;
	background-position:right center;
	display:block;
	z-index:10;
	font-family: 'texgyreadventorbold_italic';
	font-size:17px;
	color:#666666;	
	position:absolute;
	top:14px;
	left:10px;
	width:110px;
	}
#amaci_fb img{padding-left:10px;}

#like_fb{
	z-index:999;
	position:absolute;
	top:14px;
	right:10px;}	
	
#testo_dx{
	position:absolute;
	top:209px;
	left:33px;
	z-index:10;
	margin:0;
	padding:0;
	width:322px;
	}
#testo_dx h2{
	font-family: 'texgyreadventorbold_italic';
	font-size:20px;
	line-height: 22px;
	color:#ff6e09;
	margin:0;
	padding:0 0 22px;
	font-weight:normal;
	}		
#testo_dx p{
	font-family:'Helvetica','Arial','sans-serif';
	font-size:16px;
	color:#a7a7a7;
	margin:0;
	padding:0;
	line-height:22px;
	}	
#testo_sx{
	position:absolute;
	top:520px;
	right:45px;
	z-index:10;
	margin:0;
	padding:0;
	width:270px;
	}
#testo_sx h2{
	font-family: 'texgyreadventorbold_italic';
	font-size:20px;
	line-height: 22px;
	color:#ff6e09;
	margin:0;
	padding:0 0 22px;
	font-weight:normal;
	}		
#testo_sx p{
	font-family:'Helvetica','Arial','sans-serif';
	font-size:16px;
	color:#a7a7a7;
	margin:0;
	padding:0;
	line-height:22px;
	}		
#testo_finale{
	position:absolute;
	top:920px;
	left:33px;
	z-index:10;
	margin:0;
	padding:0;
	width:296px;
	}
#testo_finale h2{
	font-family: 'texgyreadventorbold_italic';
	font-size:20px;
	line-height: 22px;
	color:#ff6e09;
	margin:0;
	padding:0 0 22px;
	font-weight:normal;
	}		
#testo_finale p{
	font-family:'Helvetica','Arial','sans-serif';
	font-size:16px;
	color:#a7a7a7;
	margin:0;
	padding:0;
	line-height:22px;
	}		
#registrati_bottom{
	position:absolute;
	top:1300px;
	left:283px;
	width:394px;
	height:88px;	
	z-index:10;
	}		

#registrati_bottom a.partecipaButton, a.accettaButton, a.iniziaButton {
	display:block; 
	padding:10px 20px; 
	background-color:#ff6d05; 
	color:#FFF; 
	font-family:'texgyreadventorbold_italic'; 
	font-size:22px;
	-webkit-border-radius: 30px;
	border-radius:30px; 
	text-align:center; 
	-webkit-box-shadow:  -5px 5px 0px 0px #CCC;
	box-shadow:  -5px 5px 0px 0px #CCC;
}
#registrati_bottom a.partecipaButton:hover, a.accettaButton:hover, a.iniziaButton:hover {
	background-color:#222222; 
	-webkit-box-shadow: none;
	box-shadow: none;
}
	
#wrapper_galery{
	position:relative;
	margin:0 auto;
	width:940px;
	height:322px;
	}

#gadget_love_fox{
	position:absolute;
	top:53px;
	left:186px;
	font-family: 'texgyreadventorbold_italic';
	font-size:18px;
	color:#9c9c9c;
    }
	
.container {
	position:absolute;
	top:100px;
	left:72px;
	border: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	}

.btnl{
	  position:absolute;
      top:151px;
	  left:30px;
	  background:url(/sfGigyaPlugin/landingGamification/images/freccia_sx.jpg);
	  width:24px;
	  height:33px;
	  display:block;
	  cursor:pointer;
      border: none;
	 } 

.btnr{
	  position:absolute;
      top:151px;
	  right:30px;
	  background:url(/sfGigyaPlugin/landingGamification/images/freccia_dx.jpg);
	  width:24px;
	  height:33px;
	  display:block;
	  cursor:pointer;
	  border: none;
	  }
	  

	
	
	
	
	
	
	
