.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
     border-radius: 10px;
     background-color: transparent;
     border:none;
	 position:absolute;
	 top:90px;
	 left:30px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 818px;
	height:178px;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 266px;
    height: 178px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  818px;
    height: 206px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  266px;
    height: 178px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 266px;
    height: 178px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}



/**     *  Horizontal Buttons  *   **/

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 83px;
    right: 5px;
    width: 24px;
    height: 33px;
    cursor: pointer;
    background: transparent url(/sfGigyaPlugin/landingGamification/images/freccia_dx.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/sfGigyaPlugin/landingGamification/images/freccia_dx.jpg);
}


.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 83px;
    left: 5px;
    width: 24px;
    height: 33px;
    cursor: pointer;
    background: transparent url(/sfGigyaPlugin/landingGamification/images/freccia_sx.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/sfGigyaPlugin/landingGamification/images/freccia_sx.jpg);
}

